.board {
    min-height: 60vh;
    width: 90vh;
}

.sketch {
    width: 100%;
    height: 100%;
}

.tools {
    cursor: pointer;
    display: flex;
    flex-direction: row ;
}

.tools.button {
    align-self: right;
    width: 10px;
    height: 5px;
    border: 2px solid white;
    cursor: pointer;
    margin: 0 15 px;
    font-weight: bold;
    margin-right:16px;
    float: left;
    
}

.pen-range{
    align-self: center;
    margin:0 10 px
}

.userlist {
    color: purple;
    padding: 5px;
    font-size: small;
}
